<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/loadAssets.js" defer></script>
    <link rel="icon" type="image/png" href="../accessories/img/ficon.png">
    <title>Join</title>
</head>

<body onload="headerMenu(), summaryBoard()">

    <div id="headerToLoad"></div>
    <div class="content hidden" id="content">
    </div>
</body>

</html>
